header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 3.2rem;
    
    .header-logo {
        font-weight: 600;
    }

    #header-navigation {
        ul {
            display: flex;
            gap: 2.4em;
            li {
                a {
                    transition: opacity .3s;
                    &:hover {
                        opacity: .6;
                    }   
                } 
            }
        }
    }

    a {
        @include font(24);
        color: $title-color;
        padding: .5rem;
    }
}