main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    padding-bottom: 6.4rem;

    margin-top: 3.2rem;

    .main-content {
        align-self: center;
        .stars {
            @include font(18);
            color: $title-color;
            
            span.icon-star {
                color: orange;
            }
            .content {
                margin-left: 1rem;
            }
        }
        h1 {
            @include font(64);
            color: $title-color;
        }
        .p-principal {
            @include font(18);
            color: $text-color;
            font-weight: 400;
            max-width: 80%;
            margin: 1rem 0 2rem;
        }
        .check-container {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 3.2rem;
            .check {
                @include font(24);
                color: $text-color;
                span {
                    color: $green;
                    font-size: 2.8rem;
                }
            }
        }
    }

    .main-buttons {
        .color-purple {
            color: $purple-light;
            &:hover {
                color: $purple;
            }
        }
    }
}