/* == == HEADER == == */
header {
    .container {
        @extend .flex-between;
        .header-logo {
            font-weight: 700;
            font-size: 2.8rem;
        }
        .header-navigation {
            @extend .flex-between;
            @include media(540px) {
                position: absolute;
                inset: 0;
                background: $bg-menu;
                display: block;
                padding: 4.8rem;
                text-align: center;
                transition: all .3s ease; 
                visibility: hidden;
                opacity: 0;
                transform: translateY(-20%);

                .close {
                    float: right;
                }

                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
            .header-buttons {
                margin-left: 28rem;
                @include media(1000px) {
                    margin-left: 8rem;
                }
                @include media(767px) {
                    margin-left: 0;
                }
                @include media(540px) {
                    border-top: 1px solid lighten($color-border, 30);
                    margin: 2rem 0;
                    a {
                        display: block;
                        font-size: 2.4rem;
                        padding: 2rem 0;
                        margin-bottom: 1rem;
                    }
                }
            }
            ul {
                @include media(540px) {
                    margin-top: 6.4rem;
                }
                li {
                    display: inline-block;
                    & + li {
                        margin-left: 1rem;
                    }
                    a {
                        font-weight: 500;
                        font-size: 2.2rem;
                        padding: 1rem;
                        @include media (767px) {
                            font-size: 1.8rem;
                        }
                        @include media(540px) {
                            font-size: 2.4rem;
                        }
                        &:hover {
                            color: $button-hover;
                        }
                    }
                    @include media(540px) {
                        display: block;
                        & + li {
                            margin-left: 0;
                            margin-top: 3.2rem;
                        }
                    }
                }
            }
        }
    }
}
