/* == == LOGOS == == */
.logos {
    max-width: 80%;
    margin: 6.4rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding: 0 1rem;
    @include media(767px) {
        max-width: 100%;
        margin: 0 auto 1rem;
        overflow: auto;
        padding: 3.2rem 0;
        gap: 1.6rem;
        -webkit-overflow-scrolling: touch;
    }
 
    .item-logo {
        width: 200px;
        img {
            @include media(767px) {
                max-width: 80px;
            }
        }
    }
}