* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("./../fontes/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url("./../fontes/Montserrat-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat Semi-Bold';
  src: url("./../fontes/Montserrat-SemiBold.ttf");
  font-weight: 500;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    max-width: 85vw;
  }
}

.info {
  background: #181818;
  padding: 1em 0;
}

.info p {
  font: normal 600 1em/1.5 'Montserrat Medium';
  color: #fff;
  text-align: center;
  font-size: .875em;
}

header {
  background: #fff;
  padding: 1em 0;
}

header .container a {
  display: block;
  text-align: center;
  font: normal 600 1em/1.5 'Montserrat Medium';
  color: #181818;
  font-size: 2em;
}

@media (max-width: 420px) {
  header {
    padding: .875em;
  }
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url("./../img/wallpaper.jpeg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("./../img/wallpaper.jpeg") no-repeat center;
  background-attachment: fixed;
  padding: 8em 0;
}

main h1 {
  color: #fff;
  font: normal bold 1em/1.5 'Montserrat Bold';
  font-size: 3em;
}

main p {
  font: normal 500 1em/1.5 'Montserrat Semi-Bold';
  color: #fff;
  margin-top: 1em;
  max-width: 310px;
  line-height: 2;
}

@media (max-width: 600px) {
  main {
    padding: 6em 0;
  }
}

@media (max-width: 420px) {
  main h1 {
    font-size: 2.5em;
  }
  main p {
    margin-top: .625em;
    max-width: 90%;
  }
}

#products {
  margin: 4em 0;
  text-align: center;
}

#products h2 {
  font: normal bold 1em/1.5 'Montserrat Bold';
  color: #181818;
  font-size: 2em;
}

#products p {
  font: normal 500 1em/1.5 'Montserrat Semi-Bold';
  color: #474747;
}

#products #container-products {
  margin-top: 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

#products #container-products .item {
  background: #ebe9ea;
  padding: 1.5em;
  border-radius: .25em;
  -webkit-transition: .2s all;
  transition: .2s all;
}

#products #container-products .item:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  #products {
    margin: 2em 0;
  }
  #products h2 {
    font-size: 2em;
  }
  #products #container-products {
    margin-top: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  #products #container-products .item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 420px) {
  #products {
    margin: 4em 0;
    text-align: center;
  }
  #products h2 {
    font: normal bold 1em/1.5 'Montserrat Bold';
    color: #181818;
    font-size: 2em;
  }
  #products p {
    font: normal 500 1em/1.5 'Montserrat Semi-Bold';
    color: #474747;
  }
  #products #container-products {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  #products #container-products .item {
    padding: 2em;
  }
  #products #container-products .item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

footer {
  background: #181818;
  padding: 1.5em 0;
}

footer p {
  text-align: center;
  color: #fff;
  font: normal 500 1em/1.5 'Montserrat Semi-Bold';
}
/*# sourceMappingURL=style.css.map */