@import 'reset';
@import 'base';

.container {
    max-width: 80vw;
    margin: 0 auto;

    @media (max-width: 600px) {
        max-width: 85vw;
    }
}

.info {
    background: $title;
    padding: 1em 0;
    p {
        @include font-family('Medium');
        color: $white;
        text-align: center;
        font-size: .875em;
    }
}

header {
    background: $white;
    padding: 1em 0;
    .container {
        a {
            display: block;
            text-align: center;
            @include font-family('Medium');
            color: $title;
            font-size: 2em;
        }
    }

    @media (max-width: 420px) {
        padding: .875em;
    }

}

main {
    background: 
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)),
    url('./../img/wallpaper.jpeg') 
    no-repeat center;
    background-attachment: fixed;
    padding: 8em 0;
    h1 {
        color: $white;
        @include font-family('Bold');
        font-size: 3em;
    }
    p {
        @include font-family('Semibold');
        color: $white;
        margin-top: 1em;
        max-width: 310px;
        line-height: 2;
    }

    @media (max-width: 600px) {
        padding: 6em 0;
    }
    @media (max-width: 420px) {
        h1 {
            font-size: 2.5em;
        }
        p {
            margin-top: .625em;
            max-width: 90%;
        }
    
    }

}

#products {
    margin: 4em 0;
    text-align: center;
    h2 {
        @include font-family('Bold');
        color: $title;
        font-size: 2em;
    }

    p {
        @include font-family('Semibold');
        color: $text;
    }

    #container-products {
        margin-top: 4em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;

        .item {
            background: $bgCard;
            padding: 1.5em;
            border-radius: .25em;
            transition: .2s all;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    @media (max-width: 600px) {
            margin: 2em 0;

            h2 {
                font-size: 2em;
            }
        
            #container-products {
                margin-top: 2em;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
        
                .item {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
    }
    @media (max-width: 420px) {
        margin: 4em 0;
    text-align: center;
    h2 {
        @include font-family('Bold');
        color: $title;
        font-size: 2em;
    }

    p {
        @include font-family('Semibold');
        color: $text;
    }

    #container-products {
        grid-template-columns: auto;

        .item {
            padding: 2em;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
    }
}

footer {
    background: $title;
    padding: 1.5em 0;
    p {
        text-align: center;
        color: $white;
        @include font-family('Semibold')
    }
}