* {
  outline: none;
  margin: 0;
  padding: 0;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

input, button {
  border: none;
  background: none;
}

body {
  background: #f7f7f7;
}

body, input, button, label {
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.container-geral {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

@media screen and (max-width: 520px) {
  .container-geral {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

#intro {
  background: url("./../images/banner.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 520px) {
  #intro {
    display: none;
  }
}

#intro .content {
  padding: 6.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

#intro .content h1 {
  line-height: 1.4;
  font-size: 4.6rem;
  color: #a6e64d;
}

#intro .content h2 {
  color: white;
  line-height: 1.4;
  font-size: 3.2rem;
}

#intro .content p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  font-size: 1.8rem;
  color: white;
  max-width: 30rem;
  opacity: .9;
  margin-top: 1.4rem;
}

main {
  padding: 3.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header {
  text-align: center;
}

main header .logo img {
  width: 10rem;
  margin: 0 auto 1rem;
}

@media screen and (max-width: 768px) {
  main header .logo img {
    width: 9rem;
  }
}

main header h2 {
  line-height: 1.4;
  font-size: 3.2rem;
  color: #31382e;
}

main header h3 {
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: 500;
  color: #7c8a75;
}

main header h3 a {
  color: #74b814;
}

main #form {
  width: 60%;
  margin-top: 6.4rem;
}

@media screen and (max-width: 768px) {
  main #form {
    width: 80%;
    margin-top: 3.2rem;
  }
}

main #form .input + .input {
  margin-top: 3.2rem;
}

main #form .input label {
  display: block;
  line-height: 1.4;
  font-size: 1.8rem;
  font-weight: 500;
  color: #31382e;
}

@media screen and (max-width: 768px) {
  main #form .input label {
    line-height: 1.4;
    font-size: 1.6rem;
  }
}

main #form .input input {
  border-bottom: 2px solid #a6e64d;
  width: 100%;
  padding: .4rem;
  color: #74b814;
  border-radius: .4rem;
}

main #form button {
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#a6e64d), to(#459ee3));
  background: linear-gradient(to right, #a6e64d, #459ee3);
  width: 20rem;
  text-align: center;
  padding: 1.6rem;
  border-radius: .4rem;
  color: white;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.8rem;
  margin: 6.4rem auto 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  main #form button {
    margin-top: 3.2rem;
  }
}

footer {
  margin: 3.2rem 0;
  width: 60%;
}

footer .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .separator .line {
  background: #c4c4c4;
  width: calc(30% - 3.2rem);
  height: 1px;
}

@media screen and (max-width: 768px) {
  footer .separator .line {
    width: calc(20% - 2rem);
  }
}

footer .separator .line-1 {
  margin-right: 1.6rem;
}

footer .separator .line-2 {
  margin-left: 1.6rem;
}

footer .separator p {
  line-height: 1.4;
  font-size: 1.8rem;
  color: #c4c4c4;
}

@media screen and (max-width: 520px) {
  footer .separator p {
    line-height: 1.4;
    font-size: 1.4rem;
  }
}

footer .media {
  margin-top: 3.2rem;
}

footer .media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.2rem;
}
/*# sourceMappingURL=style.css.map */